:root{
    /*colors*/
    --color-text:#230C0F;
    --color-primary:rgb(234, 213, 57);
    --color-secondary:#D6F49D;
    --color-dark:#CBA328;
    --color-bg:#A2D3C2;
    /*fonts*/
    --font-robot: 'Roboto';


}